<!DOCTYPE html>
<html lang="pt-BR">
<head>
  </head>
<body class="bg-gray-100/60 flex items-center justify-center min-h-screen p-4 ">
  <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-3xl">

    {% if respondido %}
      <div class="text-center text-gray-800">
        <h3 class="text-xl font-bold mb-4">Obrigado por participar!</h3>
        <p>Você já votou no nome <strong>"{{ resposta_do_usuario.nome_app }}"</strong>.</p>
        <p class="mt-4">Sua participação é muito importante para nós!</p>
      </div>
    {% else %}
      <form action="{% url 'formulario' %}" method="POST" class="space-y-6">
        {% csrf_token %}
        <fieldset>
          <legend class="text-base font-semibold text-gray-800 mb-4">1. Então, qual nome você escolhe para o App?</legend>
          <div class="space-y-3">
            {{ form.as_p }}
          </div>
        </fieldset>

        {% if form.errors %}
          <div class="text-red-500">
            Por favor, selecione uma opção.
          </div>
        {% endif %}

        <button type="submit" class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition">
          Enviar voto
        </button>
      </form>
    {% endif %}

  </div>
</body>
</html>