{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pesquisa - Nome do App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
        background-image: url('{% static "fundo.png" %}');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
    </style>
</head>
<body class="bg-gray-100/60 flex items-center justify-center min-h-screen p-4 ">
    <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-3xl">

       
        <div class="flex justify-center mb-6">
        <img src="{% static 'logo.png' %}" alt="Logo GDF" class="h-20 w-auto">
        </div>

        <h2 class="text-2xl font-bold mb-4 text-center text-blue-700">
            Ajude a escolher o nome do novo App do Servidor GDF
        </h2>

        <p class="text-gray-700 text-sm mb-6">
            Quando você enviar este formulário, ele não coletará automaticamente seus detalhes, como nome e endereço de email, a menos que você mesmo os forneça.
        </p>

        <p class="text-gray-800 mb-6">
            Um novo aplicativo está sendo desenvolvido especialmente para os servidores públicos do Governo do Distrito Federal. Com ele, será possível acessar a Identidade Funcional Digital, consultar contracheques, férias e abonos, assim como abrir chamados para os portfólios de serviços de TI ou Infraestrutura Predial, tudo isso direto no celular, de forma simples, segura e prática.
        </p>

        <p class="text-gray-800 mb-6">
            Contempla também a integração com o SIGEST - Sistema de Gestão de Estagiários e com o Clube de Descontos.
        </p>

        <p class="text-gray-800 mb-6">
            E como esse app é feito para você, nada mais justo do que você também ajudar a dar um nome a ele! Escolha abaixo o nome que você acha que mais combina com essa nova ferramenta de modernização e valorização dos servidores do GDF. 🗓️ Você pode votar até o dia <strong>15 de agosto de 2025</strong>. Contamos com a sua participação!
        </p>

        {% if respondido %}
            <div class="text-center text-gray-800">
                <h3 class="text-xl font-bold mb-4">Obrigado por participar!</h3>
              
                <p class="mt-4">Sua participação é muito importante para nós!</p>
            </div>
        {% else %}
        <form action="{% url 'formulario' %}" method="POST" class="space-y-6">
          {% csrf_token %}
          <fieldset>
              <legend class="text-base font-semibold text-gray-800 mb-4">1. Então, qual nome você escolhe para o App?</legend>
              <div class="space-y-3">
                  {% for radio in form.opcao %} <label class="flex items-start space-x-2">
                          {{ radio.tag }}
                          <span>{{ radio.choice_label }}</span>
                      </label>
                  {% endfor %}
              </div>
          </fieldset>
      
          {% if form.errors %}
              <div class="text-red-500">
                  <p>Por favor, selecione uma opção.</p>
              </div>
          {% endif %}
      
          <button type="submit" class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition">
              Enviar voto
          </button>
      </form> 
        {% endif %}

    </div>
</body>
</html>